# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#binary file
emu
emu.exe

# hex, bin, mem image
*.hex
*.bin
*.mem

#editor temp files
\#*
.\#*
*~
~*